# Django 核心忽略文件
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.env
.venv
bin/
lib/
include/
share/

# 数据库 (如果您希望将数据库作为云备份上传，请保持注释状态；如果不希望上传，请取消下面的 # 注释)
# db.sqlite3

# 媒体文件 (如果您希望将产品图等上传，请保持注释状态；如果不希望上传，请取消下面的 # 注释)
# media/

# 静态收集目录
staticfiles/
static/admin/

# 编译后的日志文件
*.log

# 操作系统/IDE 忽略文件
.DS_Store
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

# 本地调试文件 (如果有)
debug_output.html
debug_output2.html
